.card {
  width: 188px;
  height: 380px;
  margin: 8px;
  cursor: pointer;
  box-shadow: 0 10px 20px rgba(0, 0, 0, 0.3);
  position: relative;
  opacity: 1;
  overflow: hidden;
  font-family: 'Lobster', serif;
  border-radius: 10px;

  @media screen and (max-width: 650px) {
    width: 300px;
    margin-left: 20px;
  }
}

.card-buttons {
  min-width: 100%;
  display: flex;
  flex: 1;
}

.card-button-add,
.card-button-remove {
  width: 100%;
  z-index: 1;
  border-radius: 0;
}

.card img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  transition: all 0.4s;
}

.details {
  position: absolute;
  bottom: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px 10px;
  color: #efefef;
  background: #292b2c;
  align-items: center;
  text-align: center;
  width: 100%;
  transform: translateY(100%);
  transition: all 0.3s;
  @media screen and (max-width: 650px) {
    transform: none;
  }
}

.details h2 {
  text-transform: uppercase;
  font-size: 18px;
  font-family: 'Playfair Display', serif;
  color: #efefef;
  font-weight: 700;
  text-align: center;
  letter-spacing: 1px;
  margin-bottom: 7px;
  @media (max-width: 650px) {
    font-size: 18px;
  }
}

.details p {
  font-style: italic;
  @media (max-width: 650px) {
    font-size: 18px;
  }
}

.card:hover .details,
.card:hover .p {
  transform: none;
}

.card:hover img {
  transform: scale(1.2);
}

.name {
  font-weight: 600;
}

.borderAdd {
  border: 5px solid #5cb85c;
}
