body {
  background: #efefef;
}

// Loading

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media screen and (max-width: 450px) {
    margin-top: 220px;
  }
}

.loading {
  max-width: 50%;
}

//Search

.search-title {
  font-family: Lobster;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 30px;
}

.search-container-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  border-radius: 5px;
  outline: none;
  width: 500px;
  padding: 5px;
  margin-top: 10px;
  font-size: 1.3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  @media screen and (max-width: 650px) {
    width: 280px;
    margin-left: 0px;
    margin-top: 20px;
  }
}

.search-icon {
  position: absolute;
  font-size: 1.6em;
  margin-left: 450px;
  margin-top: 10px;
  cursor: pointer;

  @media screen and (max-width: 650px) {
    font-size: 1.1em;
    margin-top: 18px;
    margin-left: 240px;
  }
}

.container-cards {
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: -200px;
  overflow-x: hidden;
  background-color: #efefef;

  @media screen and (max-width: 650px) {
    flex-wrap: wrap;
  }
}

//DATA UNDER INPUT
.search-result {
  margin-top: 5px;
  border-radius: 5px;
  width: 500px;
  height: 200px;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  z-index: 100;

  @media screen and (max-width: 650px) {
    width: 280px;
    margin-left: 0px;
    margin-top: 20px;
  }
}

.search-result::-webkit-scrollbar {
  display: none;
}

.search-item {
  width: 100%;
  margin-left: 3px;
  display: flex;
  align-items: center;
  color: black;
  cursor: pointer;

  &:hover {
    width: 100%;
    background-color: #efefef;
  }
}
