body {
  background: #efefef;
}

// Loading

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media screen and (max-width: 450px) {
    margin-top: 220px;
  }
}

.loading {
  max-width: 50%;
}

//Search

.search-title {
  font-family: Lobster;
}

.search-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.search-container-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  border-radius: 5px;
  outline: none;
  width: 500px;
  padding: 5px;
  margin-top: 10px;
  font-size: 1.3rem;

  @media screen and (max-width: 650px) {
    width: 280px;
    margin-left: 0px;
    margin-top: 20px;
  }
}

.search-icon {
  position: absolute;
  font-size: 1.6em;
  margin-left: 450px;
  margin-top: 10px;
  cursor: pointer;

  @media screen and (max-width: 650px) {
    font-size: 1.1em;
    margin-top: 18px;
    margin-left: 240px;
  }
}

.container-cards {
  min-width: 100%;
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin-top: 30px;
  margin-bottom: 30px;
  overflow-x: hidden;
  transition: all 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53);

  @media screen and (max-width: 650px) {
    flex-wrap: wrap;
  }
}
