body {
  background: #efefef;
}

// Loading

.loading-container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;

  @media screen and (max-width: 450px) {
    margin-top: 220px;
  }
}

.loading {
  max-width: 50%;
}

//Search

.search-title {
  font-family: Lobster;
  @media screen and (max-width: 650px) {
    margin-top: 15px;
  }
}

.search-container {
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}

.search-container-input {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-input {
  border-radius: 5px;
  outline: none;
  width: 500px;
  padding: 5px;
  font-size: 1.3rem;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;

  @media screen and (max-width: 650px) {
    width: 300px;
    margin-left: 15px;
  }
}

.search-icon {
  position: absolute;
  font-size: 1.6em;
  margin-left: 450px;
  margin-top: -5px;
  cursor: pointer;

  @media screen and (max-width: 650px) {
    font-size: 1.2em;
    margin-top: -4px;
    margin-left: 240px;
  }
}
.container-cards {
  position: absolute;
  top: 140px;
  max-width: 100%;
  display: flex;
  justify-content: start;
  align-items: center;
  background-color: #efefef;
  overflow-x: auto;

  @media screen and (max-width: 650px) {
    justify-content: start;
  }
}
