.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #efefef !important;
  height: 35px;
  @media screen and (max-width: 650px) {
    height: 25px;
  }
}

.btn-nav {
  margin-top: 5px !important;
  margin-right: 20px !important;
  cursor: pointer;

  @media screen and(max-width: 650px) {
    padding: 3px;
    margin-top: 5px !important;
    margin-right: center;
  }
}
