.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #efefef !important;
  height: 10px;
}

.btn-nav {
  z-index: 10000000;
  margin-top: 5px !important;
  margin-right: 20px !important;
  cursor: pointer;

  @media screen and(max-width: 650px) {
    padding: 3px;
    margin-top: 5px !important;
    margin-right: center;
  }
}
