.navbar {
  display: flex;
  justify-content: flex-end;
  background-color: #efefef !important;
  height: 10px;
}

.btn-nav {
  margin-top: 5px !important;
  margin-right: 20px !important;

  @media screen and(max-width: 650px) {
    padding: 3px;
    margin-top: 5px !important;
    margin-right: center;
  }

  &:hover {
    background-color: #191919;
  }
}
