//DATA UNDER INPUT
.search-result {
  border-radius: 5px;
  width: 500px;
  height: auto;
  background-color: white;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  overflow: hidden;
  overflow-y: auto;
  z-index: 100;

  @media screen and (max-width: 650px) {
    width: 300px;
  }
}

.search-result::-webkit-scrollbar {
  display: none;
}

.search-item {
  width: 100%;
  margin-left: 3px;
  display: flex;
  align-items: center;
  color: black;
  cursor: pointer;

  &:hover {
    width: 100%;
    background-color: #efefef;
  }
}
